body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
h1 {
    font-size: 10vw;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
h1.visible {
    opacity: 1;
}
h6 {
    font-size: 2vw;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
h6.visible {
    opacity: 1;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a[href^="mailto:"] {
    color: #393991; /* Blue color for mailto links */
}
a[href^="mailto:"]:hover {
    color: #822f2f; /* Red color for mailto links on hover */
}
.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
